#insta { 
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); 
        -webkit-background-clip: text; 
        background-clip: text;     
        -webkit-text-fill-color: transparent; 
        font-size: 30px;
}
.fa-facebook-square {     
    color: #3b5998;     
    background-image: linear-gradient(to bottom, transparent 20%, white 20%, white 93%, transparent 93%); 
    background-size: 30%;     
    background-position: 70% 0;    
    background-repeat: no-repeat; 

    table {     width: 670px; 
 
    } 
     
     